<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>save.html 회원가입</h2>
    <form action="/member/save" method="post">
    아이디(이메일)<br>
        <input type="text" id="memberEmail" name="memberEmail"><br>
    비밀번호<br>
        <input type="text" id="memberPassword" name="memberPassword"><br>
    이름<br>
        <input type="text" id="memberName" name="memberName"><br>
    나이<br>
        <input type="text" id="memberAge" name="memberAge"><br>
    핸드폰번호<br>
        <input type="text" id="memberPhone" name="memberPhone"><br>
    <input type="submit" value="회원가입">
    </form>
</body>
</html>