<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>update.html 수정처리</h2>
<form action="/member/update" method="post" name="updateForm">

    <input type="hidden" th:value="${updateMember.id}" name="id"><br>
    아이디(이메일)<br>
    <input type="text" name="memberEmail" th:value="${updateMember.memberEmail}"><br>
    비밀번호<br>
    <input type="text" id="memberPassword" name="memberPassword"><br>
    이름<br>
    <input type="text" name="memberName" th:value="${updateMember.memberName}"><br>
    나이<br>
    <input type="text" name="memberAge" th:value="${updateMember.memberAge}"><br>
    핸드폰번호<br>
    <input type="text" name="memberPhone" id="memberPhone" th:value="${updateMember.memberPhone}"><br>
    <input type="button" th:onclick="update()" value="수정">
    <input type="button" th:onclick="updateByAjax()" value="수정(put)">
</form>
</body>
<script th:inline="javascript">
    const update = () => {
        const pw = [[${updateMember.memberPassword}]];
        const pwConfirm = document.getElementById("memberPassword").value;
        if (pw == pwConfirm) {
            alert("성공")
            updateForm.submit();
        } else {
            alert("비밀번호가 틀립니다!!");
        }
    }
    const updateByAjax = () => {
        const id = [[${updateMember.id}]];
        const memberEmail = [[${updateMember.memberEmail}]];
        const memberName = [[${updateMember.memberName}]];
        const memberAge = [[${updateMember.memberAge}]];
        const memberPhone = document.getElementById("memberPhone").value;
        //controller에 josn형식으로 데이터를 보낼 것임
        const updateData = JSON.stringify({ //stringify = josn으로 변환해주는 역할
            id: id,
            memberEmail: memberEmail,
            memberName: memberName,
            memberAge: memberAge,
            memberPhone: memberPhone
        });
        $.ajax({
            type:"put",
            data: updateData,
            url: "/member/"+id,
            contentType: "application/json",
            success: function () {
                location.href = "/member/"+id;
            },
            error: function () {
                alert("ajax 실패");
            }
        });
    }
</script>
</html>